 h1, h2, h3, h4 {
                color: red;
                font-size:  30px;
                background-color: purple;
            }
            h1{
                color: coral;
                color: rgba(201, 63, 0.723);
            }

             .uppercase{
            text-transform: uppercase;
            color:lightslategray ;
            background-color: black ;
        }

            .important{
                color:rgb(255, 221, 0);
                background-color:lightseagreen;
            }

           #the-one{
            color: blue;
           }

           #mrJones{
            color: burlywood ;
           }